body {
    font-family: 'Open Sans', sans-serif;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  }

/* .card {
  width: 150px;
  display: flex;      /* nu får alle børnene også flexbox 
  flex-direction: column;
  border: 3px solid #0097A7;
  border-radius: 8px;
  overflow: hidden;
  margin: 5px;
}

.card-header {
  color: rgb(242, 238, 243);
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #D32F2F;
  background-color: dimgrey;
  padding: 5px 10px;
}

.card-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
} */

.material-icons {
    font-size: 36px;
    color: #0097A7;
    margin-bottom: 5px;
  }
  
  .main-description {
    color: #0097A7;
    font-size: 12px;
    text-align: center;
  }
  
  /* IDs for additional colors*/
  /* Colors from Google Material Design: https://material.io/guidelines/style/color.html*/
  
  #or-border {
    border-color: #FFE082;
  }
  
  #or-header {
    background-color: #FFF8E1;
    border-color: #FFE082;
    color: #FFA000;
  }
  
  #or-color {
    color: #FFA000;
  }
  
  #red-border {
    border-color: #EF9A9A;
  }
  
  #red-header {
    background-color: #FFEBEE;
    border-color: #EF9A9A;
    color: #D32F2F;
  }
  
  #red-color {
    color: #D32F2F;
  }
  